@import "tailwindcss";

button{
  border-radius: 12px;
  padding: 12px 24px;
  background-color: white;
  color: black;
}
button:active{
  background-color: rgb(221, 221, 221);
}
input{
  border-radius: 12px;
  padding: 12px 24px;
  outline: none;
}